body { 
    background-color: #D5DDDF;
    font-family:'Roboto';
}

  /*футер*/
.footer {
    background-color: #1B2727;
    padding: 20px 0; 
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1570px; 
    margin: 0 auto; 
  }
  
  .contact-info {
    text-align: left; 
    margin-left: 45px;
    color: #B2C5B2;
    font-size: 18px;
  }
  
  .social-icons {
    display: flex;
  }
  
  .icon {
    margin-right: 10px; 
  }
  
  .icon img {
    width: 40px; 
    height: 40px;
  }

/*навигация*/
.menu {
    text-align: center; 
    background-color: #D5DDDF; 
    margin: 0 auto;
  }
.menu-item {
    display: inline-block;
    width: 140px; 
    height: 40px; 
    line-height: 40px; 
    text-align: center; 
    background-color: #1B2727; 
    color:#D5DDDF;
    text-decoration: none;
    border-radius: 5px; 
    margin-right: 0%; 
    margin-bottom: 5px;
    transition: background-color 0.3s, color 0.3s; 
    font-size: large;
    font-weight: bold;
  }
  
.menu-item:hover {
    background-color: #D5DDDF; 
    color:#688E4E;
    text-shadow: 0 0 5px #688E4E;
}

/*wrapper*/
.wrapper {
    max-width: 1170px; 
    background-color: #D5DDDF;
    min-width: 400px;
    margin: 0 auto; 
    padding: 0 20px; 
  }


/*article*/
.container {
    max-width: 850px;
    margin: 50px auto;

}

.container h2 {
    color: #1B2727;
    font-size: 26px;
    border-bottom: 1px solid #1B2727;
}

h3 {
  color: #1B2727;
  font-size: 20px;
  text-indent: 20px;
}

.container p {
  color: #1B2727;
  font-size: 16px;
  text-indent: 20px;
  padding-left: 20px;
  padding-right: 100px;

}

.container a {
  color: #688E4E;
  font-weight: bold;
  text-decoration: none;
}

#section2 img{
    width: 250px; 
    height: auto;
  }


.mainimg {
    width: auto;
    margin: 0 auto;
}

/*summary container*/

.block-container {
  display: flex;
  justify-content: center; 
}

.block-content {
  display: flex;
  max-width: 850px; 
  max-height: 450px;
}

.left-side {
  flex: 1; 
  padding: 20px;
  background-color: #B2C5B2;

}

.left-side h2 {
  color: #1B2727;
  font-size: 18px;
}

.left-side p {
  color: #1B2727;
  text-indent: 20px;
  font-size: 16px;
}

.left-side img{
  width: 10%;
  height: 10%;
}

.right-side {
  flex: 1; 
}

.right-side img {
  max-width: 850px; 
  max-height: 450px;
}
