
body { 
    background-color: #0a0a09 ;
    color:#FFFCF2;
    font-family:sans-serif;
}



/*навигация*/
.menu {
    text-align: center; 
    background-color: #403d39; 
    margin: 0 auto;
  }
.menu-item {
    display: inline-block;
    width: 140px; 
    height: 40px; 
    line-height: 40px; 
    text-align: center; 
    background-color: #403d39; 
    color: #CCC5B9; 
    text-decoration: none;
    border-radius: 5px; 
    margin-right: 0%; 
    margin-bottom: 5px;
    transition: background-color 0.3s, color 0.3s; 
    font-size: large;
  }
  
.menu-item:hover {
    background-color: #CCC5B9; 
    color:#403D39 ;
}



/* Поле с аватаром и текстом*/
#container {
    display: flex; 
    
}

#container p {
    color: #FFFCF2;
    margin-left: 15px;
    margin-right: 5px;
}
#avatar {
    width: 400px;
    height: 400px;
}

#content {
    flex: 1; 
    background-color: #252422; 
}

#content h1 {
    font-size: 50px;
    color:#EB5E28;
    margin-left: 15px;
}




/*список проектов*/

.container {
  display: flex;
  background-color: #CCC5B9;
}

.images {
  flex: 1;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  
}

.images .row {
  display: flex;
  margin-left: 25px;
}

.images img {
  width: 100px;
  height: 100px;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow:0 0 10px #0e0d0d67;
}

.images img:hover {
  transform: scale(1.1);
}

.text {
  flex: 1;
  padding: 0 20px;
}

.text h2 {
  text-align: justify;
  font-size: 50px;
  color:#403D39;
}

.text p {
  text-align: justify;
}

/*Скилы*/
.skill {
  width: 50px; 
  height: 50px; 
  padding: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s ease;
  overflow: hidden; 
}

.skill:hover {
  transform: translateY(-5px);
}



/*история работы*/

.timeline {
  position: relative;
  margin: 0 auto;
  padding: 50px 0;
  background-color: #252422;
}

.timeline-item {
  padding-left: 50px;
  position: relative;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px; 
  text-align: left; 
}

.timeline-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  width: 20px;
  height: 20px;
  background-color: #EB5E28;
  border-radius: 50%;
}

.timeline-date {
  font-weight: bold;
  margin-bottom: 10px;
  color:#EB5E28;
}

.timeline-title {
  font-size: 20px;
  margin-bottom: 5px;
  color:#CCC5B9;
}

.timeline-description {
  margin-bottom: 10px;
  color:#FFFCF2;
}

/*футер*/
.footer {
  background-color: #403D39;
  padding: 10px 0; 
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1570px; 
  margin: 0 auto; 
}

.contact-info {
  text-align: left; 
  margin-left: 45px;
  color: #FFFCF2;
  font-size: 2;
}

.social-icons {
  display: flex;
}

.icon {
  margin-right: 10px; 
}

.icon img {
  width: 40px; 
  height: 40px;
}


.wrapper {
  max-width: 1170px; 
  min-width: 600px;
  margin: 0 auto; 
  padding: 0 20px; 
}

