
body { 
    background-color: #D5DDDF;
    font-family:sans-serif;
}



/*навигация*/
.menu {
    text-align: center; 
    background-color: #D5DDDF; 
    margin: 0 auto;
  }
.menu-item {
    display: inline-block;
    width: 140px; 
    height: 40px; 
    line-height: 40px; 
    text-align: center; 
    background-color: #1B2727; 
    color:#D5DDDF;
    text-decoration: none;
    border-radius: 5px; 
    margin-right: 0%; 
    margin-bottom: 5px;
    transition: background-color 0.3s, color 0.3s; 
    font-size: large;
  }
  
.menu-item:hover {
    background-color: #D5DDDF; 
    color:#688E4E;
    text-shadow: 0 0 5px #688E4E;
}



/* Поле с аватаром и текстом*/
#container {
    display: flex; 
    
}

#container p {
    color: #D5DDDF;
    margin-left: 45px;
    margin-right: 5px;
}
#avatar {
    width: 400px;
    height: 400px;
    background-color: #1B2727; 
}

#content {
    flex: 1; 
    background-color: #1B2727; 
}

#content h1 {
    font-size: 50px;
    color:#688E4E;
    margin-left: 45px;   
}

#content p {
  font-size: 16px;
  color:#D5DDDF;
  margin-left: 45px;   
}



/*список проектов*/

.container {
  display: flex;
  background-color: #D5DDDF;
}

.images {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}

.row {
  display: flex;
}

.button {
  flex: 1;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 250px;
}

.button button {
  width: 250px; 
  height: 100px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px #0e0d0d3f;
  border-radius: 10px;
  overflow: hidden;
}

.button button:hover {
  transform: scale(1.1);
}

.button button span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
  height: 100%;
  font-size:large;
  color: #1B2727;
  text-align: center;
  
}

.text {
  flex: 1;
  padding: 0 20px;
  
}

.text h2 {
  text-align: justify;
  font-size: 50px;
  color: #1B2727;
  margin-left: 30px;
}

.text p {
  text-align: justify;
  font-size: 16px;
  color: #403D39;
  margin-right: 35px;
  margin-bottom: 35px;
  margin-left: 30px;
}



/*история работы*/

.timeline {
  position: relative;
  margin: 0 auto;
  padding: 50px 0;
  background-color: #1B2727;
}

.timeline-item {
  padding-left: 50px;
  position: relative;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px; 
  text-align: left; 
}

.timeline-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  width: 20px;
  height: 20px;
  background-color: #688E4E;
  border-radius: 50%;
}

.timeline-date {
  font-weight: bold;
  margin-bottom: 10px;
  color:#688E4E;
}

.timeline-title {
  font-size: 20px;
  margin-bottom: 5px;
  color:#B2C5B2;
}

.timeline-description {
  margin-bottom: 10px;
  color:#D5DDDF;
}

.timeline-container {
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.timeline-title-container {
  margin-right: 50px; 
}

.timeline-main-title {
  font-size: 50px;
  color: #B2C5B2; 
  padding-left: 45px;
}


/*футер*/
.footer {
  background-color: #1B2727;
  padding: 20px 0; 
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1570px; 
  margin: 0 auto; 
}

.contact-info {
  text-align: left; 
  margin-left: 45px;
  color: #B2C5B2;
  font-size: 2;
}

.social-icons {
  display: flex;
}

.icon {
  margin-right: 10px; 
}

.icon img {
  width: 40px; 
  height: 40px;
}



/* skills*/

.resume {
  width: 80%;
  margin: 0 auto;
}

.skills-section {
  margin-top: 50px;
  margin-bottom: 100px;
}

.skills-heading {
  font-size: 50px;
  color: #1B2727;
  margin-left: 460px;
}


.skills-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.skills-text {
  width: 45%;
  text-align: left;
}

.skills-icons {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.skill {
  width: 80px;
  height: 80px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 10px #1B2727;
  border-radius: 10%;
}

.skill img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.skill:hover img {
  transform: scale(1.1);
}

/*Scroll to top*/

#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  cursor: pointer;
  padding: 0;
  border: none;
  background: none;
}

#scrollToTopBtn img {
  width: 60px; 
  height: 60px; 

}

#scrollToTopBtn:active {
  transform: scale(0.85); /* Анимация масштабирования при клике */
}

.wrapper {
  max-width: 1170px; 
  background-color: #D5DDDF;
  min-width: 400px;
  margin: 0 auto; 
  padding: 0 20px; 
}