
body { 
    background-color: #30333a;
    color:#B79D9B;
    font-family:sans-serif;
}



/*навигация*/
.menu {
    text-align: center; /* Центрирование элементов меню */
    background-color: #51403D; 
    position: sticky; /* Прилипание */
    top: 0; /* Прилипание к верху экрана */
    z-index: 1000; /* Позиционирование поверх остальных элементов */
  }
.menu-item {
    display: inline-block;
    width: 140px; /* Фиксированная ширина элемента меню */
    height: 40px; /* Фиксированная высота элемента меню */
    line-height: 40px; /* Выравнивание текста по вертикали по центру */
    text-align: center; /* Выравнивание текста по горизонтали по центру */
    background-color: #51403D; /* Цвет фона */
    color: #B79D9B; /* Цвет текста */
    text-decoration: none;
    border-radius: 5px; /* Скругление углов */
    margin-right: 0%; /* Отступ между элементами */
    margin-bottom: 5px;
    transition: background-color 0.3s, color 0.3s; /* Плавные переходы при наведении */
    font-size: large;
  }
  
.menu-item:hover {
    background-color: #B79D9B; /* Изменение цвета фона при наведении */
    color:#51403D ;
}



/* Поле с аватаром и текстом*/
#container {
    display: flex; /* Используем flexbox для выравнивания элементов */
}

#container p {
    color: #FFFFFF;
    margin-left: 15px;
    margin-right: 5px;
}
#avatar {
    width: 400px;
    height: 400px;
    background-color: #30333a;
}

#content {
    flex: 1; /* Занимает все доступное пространство внутри контейнера */
    background-color: #30333a; /* Цвет фона */
}

#content h1 {
    font-size: 50px;
}




/*список проектов*/
#proj {
    background-color: #51403D; /* Цвет фона */
    color: #B79D9B;  /* Цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    margin-top: 50px; /* Отступ сверху */

    margin-bottom: 0px;
  }

.projects {
    display: flex; /* Используем flexbox */
    flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
    justify-content: space-around; /* Выравниваем элементы по ширине контейнера с равными промежутками между ними */
    background-color: #B0A6A7;
    padding: 10px; 
}

.project {
    position: relative; /* Относительное позиционирование для .project */
    width: 30%; /* Ширина каждого элемента будет 20% от родительского контейнера */
    margin-bottom: 20px; /* Добавляем отступ снизу для создания промежутка между рядами */
}

.project img {
    width: 100%; /* Изображение будет занимать 100% ширины родительского контейнера */
    height: auto; /* Позволяет изображениям сохранять пропорции */

}

.project a {
    display: block; /* Превращаем ссылку в блочный элемент */
    position: relative; /* Относительное позиционирование для ссылки */
}

.project a::before {
    content: ""; /* Добавляем пустое содержимое для псевдоэлемента */
    position: absolute; /* Абсолютное позиционирование для псевдоэлемента */
    top: 0; /* Располагаем псевдоэлемент относительно верхнего края родительского элемента */
    left: 0; /* Располагаем псевдоэлемент относительно левого края родительского элемента */
    width: 100%; /* Занимаем 100% ширины родительского элемента */
    height: 100%; /* Занимаем 100% высоты родительского элемента */
    background-color: #30333a; /* Затемняющий цвет фона */
    opacity: 0; /* Начальное значение прозрачности (псевдоэлемент невидим) */
    transition: opacity 0.8s ease; /* Плавное изменение прозрачности при анимации */
}

.project:hover a::before {
    opacity: 1; /* Увеличиваем прозрачность при наведении, чтобы показать затемнение */
}

.project .description {
    position: absolute; /* Абсолютное позиционирование для текста описания */
    top: 50%; /* Располагаем текст по вертикали на 50% высоты .project */
    left: 50%; /* Располагаем текст по горизонтали на 50% ширины .project */
    transform: translate(-50%, -50%); /* Центрируем текст относительно его собственных размеров */
    color: white; /* Устанавливаем белый цвет текста */
    opacity: 0; /* Начальное значение прозрачности (текст невидим) */
    transition: opacity 0.3s ease; /* Плавное изменение прозрачности при анимации */
}

.project:hover .description {
    opacity: 1; /* Увеличиваем прозрачность при наведении, чтобы показать текст описания */
}

/*Скилы*/
.skill {
  width: 50px; /* фиксированная ширина */
  height: 50px; /* фиксированная высота */
  padding: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s ease;
  overflow: hidden; /* Обрезаем изображение по границам ячейки */
}

.skill:hover {
  transform: translateY(-5px);
}*/

/*история работы*/

.timeline {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 0;
}
.timeline-item {
  padding-left: 50px;
  position: relative;
  margin-bottom: 50px;
}
.timeline-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  width: 20px;
  height: 20px;
  background-color: #B79D9B;
  border-radius: 50%;
}
.timeline-date {
  font-weight: bold;
  margin-bottom: 10px;
}
.timeline-title {
  font-size: 20px;
  margin-bottom: 5px;
}
.timeline-description {
  margin-bottom: 10px;
}




/*футер*/
.footer {
  background-color: #51403D; /* Цвет фона футера */
  padding: 10px 0; /* Внутренний отступ футера */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1570px; /* Максимальная ширина контента футера */
  margin: 0 auto; /* Центрирование контента футера */
}

.contact-info {
  text-align: left; /* Выравнивание контактной информации по левому краю */
  margin-left: 45px;
  color: #B79D9B;
}

.social-icons {
  display: flex;
}

.icon {
  margin-right: 10px; /* Отступ между иконками */
}

.icon img {
  width: 40px; /* Размер иконок */
  height: 40px;
}
