body { 
    background-color: #FFFFFF;
    color:rgb(0, 0, 0);  
    font-family:sans-serif;
}

.menu {
    text-align: center; /* Центрирование элементов меню */
  }
.menu-item {
    display: inline-block;
    width: 140px; /* Фиксированная ширина элемента меню */
    height: 40px; /* Фиксированная высота элемента меню */
    line-height: 40px; /* Выравнивание текста по вертикали по центру */
    text-align: center; /* Выравнивание текста по горизонтали по центру */
    background-color: #1E90FF; /* Цвет фона */
    color: #FFFFFF; /* Цвет текста */
    text-decoration: none;
    border-radius: 5px; /* Скругление углов */
    margin-right: 0%; /* Отступ между элементами */
    margin-bottom: 5px;
    transition: background-color 0.3s, color 0.3s; /* Плавные переходы при наведении */
    font-size: large;
  }
  
  .menu-item:hover {
    background-color: #0056b3; /* Изменение цвета фона при наведении */
  }

  h1 {
    background-color: #1E90FF; /* Цвет фона */
    color: #FFFFFF;  /* Цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    margin-top: 50px; /* Отступ сверху */
    border-radius: 5px; /* Скругление углов */
    margin-bottom: 5px;
  }

  #avatar {
    display: block;
    margin: 20px auto; 
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

 #proj{
  background-color: #1E90FF; /* Цвет фона */
  color: #FFFFFF;  /* Цвет текста */
  text-align: center; /* Выравнивание текста по центру */
  margin-top: 50px; /* Отступ сверху */
  border-radius: 5px; /* Скругление углов */
  margin-bottom: 5px;
 }

  /*список проектов*/
  .projects {
    display: flex; /* Используем flexbox */
    flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
    justify-content: space-around; /* Выравниваем элементы по ширине контейнера с равными промежутками между ними */
}

.project {
    position: relative; /* Относительное позиционирование для .project */
    width: 30%; /* Ширина каждого элемента будет 20% от родительского контейнера */
    margin-bottom: 20px; /* Добавляем отступ снизу для создания промежутка между рядами */
}

.project img {
    width: 100%; /* Изображение будет занимать 100% ширины родительского контейнера */
    height: auto; /* Позволяет изображениям сохранять пропорции */
}

.project a {
    display: block; /* Превращаем ссылку в блочный элемент */
    position: relative; /* Относительное позиционирование для ссылки */
}

.project a::before {
    content: ""; /* Добавляем пустое содержимое для псевдоэлемента */
    position: absolute; /* Абсолютное позиционирование для псевдоэлемента */
    top: 0; /* Располагаем псевдоэлемент относительно верхнего края родительского элемента */
    left: 0; /* Располагаем псевдоэлемент относительно левого края родительского элемента */
    width: 100%; /* Занимаем 100% ширины родительского элемента */
    height: 100%; /* Занимаем 100% высоты родительского элемента */
    background-color: rgba(0, 0, 0, 0.5); /* Затемняющий цвет фона */
    opacity: 0; /* Начальное значение прозрачности (псевдоэлемент невидим) */
    transition: opacity 0.3s ease; /* Плавное изменение прозрачности при анимации */
}

.project:hover a::before {
    opacity: 1; /* Увеличиваем прозрачность при наведении, чтобы показать затемнение */
}

.project .description {
    position: absolute; /* Абсолютное позиционирование для текста описания */
    top: 50%; /* Располагаем текст по вертикали на 50% высоты .project */
    left: 50%; /* Располагаем текст по горизонтали на 50% ширины .project */
    transform: translate(-50%, -50%); /* Центрируем текст относительно его собственных размеров */
    color: white; /* Устанавливаем белый цвет текста */
    opacity: 0; /* Начальное значение прозрачности (текст невидим) */
    transition: opacity 0.3s ease; /* Плавное изменение прозрачности при анимации */
}

.project:hover .description {
    opacity: 1; /* Увеличиваем прозрачность при наведении, чтобы показать текст описания *

