body { 
    background-color: #FFFFFF;
    color:rgb(0, 0, 0);  
    font-family:sans-serif;
}

.menu {
    text-align: center; /* Центрирование элементов меню */
    background-color: black;
  }
.menu-item {
    display: inline-block;
    width: 140px; /* Фиксированная ширина элемента меню */
    height: 40px; /* Фиксированная высота элемента меню */
    line-height: 40px; /* Выравнивание текста по вертикали по центру */
    text-align: center; /* Выравнивание текста по горизонтали по центру */
    background-color: #1E90FF; /* Цвет фона */
    color: #FFFFFF; /* Цвет текста */
    text-decoration: none;
    border-radius: 5px; /* Скругление углов */
    margin-right: 0%; /* Отступ между элементами */
    margin-bottom: 5px;
    transition: background-color 0.3s, color 0.3s; /* Плавные переходы при наведении */
    font-size: large;
  }
  
  .menu-item:hover {
    background-color: #0056b3; /* Изменение цвета фона при наведении */
  }

  h1 {
    background-color: #1E90FF; /* Цвет фона */
    color: #FFFFFF;  /* Цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    margin-top: 50px; /* Отступ сверху */
    border-radius: 5px; /* Скругление углов */
    margin-bottom: 5px;
  }


  
  
