.resume {
  width: 80%;
  margin: 0 auto;
}

.skills {
  text-align: right;
}

.skills h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.soft-skills, .hard-skills {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.soft-skills p, .hard-skills p {
  font-weight: bold;
}

.soft-skill, .hard-skill-icons img {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.soft-skill:hover, .hard-skill-icons img:hover {
  transform: scale(1.1);
}

.hard-skill-icons {
  display: flex;
  flex-wrap: wrap;
}

.hard-skill-icons img {
  width: 100px;
  height: 100px;
  margin: 5px;
  /* Add more styling as needed */
}
